
 <li>
       @Html.ActionLink("Check-In Console", "Index", "Check")
    </li> 
    <li>
       @Html.ActionLink("Check-Out Console", "CheckOutHome", "Check")
    </li>
    <li>
       @Html.ActionLink("Show Users", "Index", "View")
    </li>
      <li>
        @Html.ActionLink("Manage Movies", "ViewAllMovie", "View")
    </li>
      <li>
        @Html.ActionLink("Manage Languages", "ViewAllLanguage", "View")
    </li>
      <li>
        @Html.ActionLink("View Profile", "ViewUserByID", "View")
    </li>
     <li>
       @Html.ActionLink("Change Password", "Index", "Modify")
    </li>
          