<li>
        @Html.ActionLink("Top 10 Movies", "DisplayTop", "Home")
    </li>
    
      <li>
        @Html.ActionLink("Browse Movies", "viewAllMovie", "View")
    </li>
    <li>
       @Html.ActionLink("Reserve Movies", "Index", "Reserve")
    </li>
    <li>
        @Html.ActionLink("Search a Movie", "Index", "Search")
    </li>
     <li>
        @Html.ActionLink("View Profile", "ViewUserByID", "View")
    </li>
    <li>
       @Html.ActionLink("Change Password", "Index", "Modify")
    </li>